@import url("ColorsDark.css");
@import url("ColorsLight.css");

p.motto{
    color: var(--aqua1);
    font-size: 1.7rem;
    font-weight: 700;
    /* border: .1rem solid var(--fg1); */
    border-radius: .2rem;
    padding: .5rem;
}

/* body.dark p.motto{
    background-color: var(--bg2);
}

body.light p.motto{
    background-color: var(--bg3-light);
} */

.about {
    margin-top: 3rem;
    /* font-size: 1.1rem; */
}

body.dark .about{
    color: var(--fg2);
}

body.light .about {
    color: var(--fg3-light);
}

.about p{
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
}

body.dark .about{
    background-color: var(--bg2);
}

body.light .about{
    background-color: var(--bg3-light);
}

.last-project {
    margin-top: 2rem;
    border-radius: .2rem;
}

body.dark .last-project {
    background-color: var(--bg2);
}

body.light .last-project {
    background-color: var(--bg3-light);
}

.last-project h3 {
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--green1);
}

.more-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: .5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    color: var(--aqua1);
    text-align: left;
}

.more-projects .link {
    padding: .4rem;
    border-radius: .2rem;   
    background-color: var(--green1);
    color: var(--fg2);
    transition: all .5s ease-out;
}

body.dark .more-projects .link {
    color: var(--bg3);
}

body.dark .more-projects .link:hover {
    background-color: var(--green2);
    transform: translateY(-.3rem);
}

body.light .more-projects .link:hover {
    background-color: var(--green2-light);
    transform: translateY(-.3rem);
}