@import url("ColorsDark.css");
@import url("ColorsLight.css");

.project {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: .2rem;
}

body.dark .project {
    background-color: var(--bg2);
}

body.light .project {
    background-color: var(--bg3-light);
}

.project-image {
    width: 50%;
    padding: 1rem;
    /* margin: 1rem; */
    border-radius: 1rem;
}

.project img{
    border-radius: 1.5rem;
}

.project-description {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .3rem;
}

.project-description .title {
    font-size: 1.3rem;
    color: var(--red1);
}